// reset
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font: normal 12px arial, sans-serif;
  color: #333;
  background: #e7e7e7 url("../images/bg/site.jpg") 50% 0 no-repeat;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: $couleur_lien;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main {
  display: block;
  width: $main-width;
  margin: 0 auto;
  @include clearfix;
}
.clear {
  clear:both;
  @include clearfix;
}

.breadcrumb {
  @include clearfix;
  margin-top: 6px;
  margin-bottom: 23px;
  a {
    float: left;
    display: block;
    color: #888888;
    background: url("../images/picto/fl_d_gris.gif") 0 50% no-repeat;
    margin-top: 7px;
    margin-left: 12px;
    padding-left: 12px;
    &:hover {
      color: $couleur_lien;
    }
    &:first-child {
      background: url("../images/picto/breadcrumb_home.png") 0 0 no-repeat;
      margin: 0;
      padding: 0;
      text-indent: -5000px;
      width: 28px;
      height: 28px;
    }
  }
}

.sidebar-first #content {
  float: right;
  width: 630px;
}

.sidebar-second #content {
  float: left;
  width: 630px;
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font: bold 37px 'montserrat',Arial,sans-serif;
  line-height: 42px;
}
.complement-titre {
  font: normal 14px 'montserrat',Arial,sans-serif;
  margin-bottom: 15px;
}

.voir-tout-wrapper {
  @include clearfix;
}
.voir-tout {
  float: right;
  display: inline-block;
  margin-right: 10px;
  padding: 4px 25px 6px 35px;
  background: #009ee0 url("../images/picto/fl_d_blanc.gif") 25px 9px no-repeat;
  border-radius: 0 0 20px 20px;
  color: #fff;
  font: bold 12px Arial,sans-serif;
  &:hover {
    background-color: #008ed0;
  }
}

.bouton {
  @include bouton-submit;
  display: inline-block;
}
.bouton-wrapper {
  @include clearfix;
  margin-top: 15px;
  .bouton {
    float: right;
  }
}


// boîtes à onglets
#onglets {
  @include clearfix;
  margin-top: 30px;
  .onglet {
    display: block;
    float: left;
    margin-left: 10px;
    padding-bottom: 9px;
    color: #666666;
    &:first-child {
      margin-left: 0;
    }
    span {
      display: block;
      background-color: #dbdbdb;
      background-position: 3px 4px;
      background-repeat: no-repeat;
      border-radius: 27px;
      height: 38px;
      padding: 16px 20px 0 20px;
      font: bold 16px 'montserrat',Arial,sans-serif;
    }
    &:hover {
      span {
        background-color: #cbcbcb;
      }
    }
    &.on, &:hover {
      background-position: 50% 100%;
      background-repeat: no-repeat;
      background-image: url("../images/picto/fl_onglet_orange.png");
      color: #ffffff;
      span {
        background-color: #ee7f00;
      }
    }
  }
  .onglet-breves {
    span {
      background-image: url("../images/picto/breves_off.png");
      padding-left: 75px;
      padding-right: 35px;
    }
    &.on, &:hover {
      background-image: url("../images/picto/fl_onglet_vert.png");
      span {
        background-image: url("../images/picto/breves_on.png");
        background-color: #95be0e;
      }
    }
  }
  .onglet-evenements {
    span {
      background-image: url("../images/picto/evenements_off.png");
      padding-left: 75px;
      padding-right: 35px;
    }
    &.on, &:hover {
      background-image: url("../images/picto/fl_onglet_violet.png");
      span {
        background-image: url("../images/picto/evenements_on.png");
        background-color: #811a76;
      }
    }
  }
  .onglet-temoignages {
    span {
      background-image: url("../images/picto/temoignages_off.png");
      padding-left: 75px;
      padding-right: 35px;
    }
    &.on, &:hover {
      background-image: url("../images/picto/fl_onglet_jaune.png");
      span {
        background-image: url("../images/picto/temoignages_on.png");
        background-color: #f5a825;
      }
    }
  }
}
.listing {
  z-index: 5;
  .panel & {
    @include shadow-bottom-light;
  }
  .item {
    @include clearfix;
    display: block;
    background: #fff;
    padding: 10px;
    border-top: 1px solid #e9e9e9;
    cursor: pointer;
    &:hover {
      background: #f5f5f5;
    }
    .illus {
      display: block;
      float: left;
      width: 300px;
      height: 150px;
      margin-right: 15px;
    }
    .texte {
      float: left;
      width: 290px;
    }
    h2 {
      margin: 0 0 3px 0;
      color: #333333;
      font: bold 16px Verdana,sans-serif;
      .date {
        color: #009ee0;
        font-weight: normal;
      }
    }
    .intro {
      color: #555555;
      font: normal 13px Arial,sans-serif;
      line-height: 18px;
      .date {
        color: #009ee0;
      }
    }
  }
}
.listing-hp {
  @include shadow-bottom-light;
  .item {
    .illus {
      width: 160px;
      height: 80px;
    }
    .texte {
      width: 430px;
    }
  }
}
.listing-temoignages {
  @include shadow-bottom-light;
  z-index: 5;
  .item {
    @include clearfix;
    display: block;
    background: #fff;
    padding: 10px;
    border-top: 1px solid #e9e9e9;
    cursor: pointer;
    &:hover {
      background: #f5f5f5;
    }
    h2 {
      margin: 0;
    }
    .illus {
      display: block;
      float: left;
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }
    .texte {
      float: left;
      width: 470px;
      padding-left: 50px;
      background: url("../images/picto/guillemets.png") 0 6px no-repeat;
      color: #555555;
    }
    .nom {
      font: italic bold 13px Arial,sans-serif;
    }
    .sous-titre {
      font: 11px Arial,sans-serif;
    }
    blockquote {
      margin: 0;
      font: italic normal 14px Georgia,serif;
    }
  }
}

.carousel-shp {
  position: relative;
  margin-bottom: 30px;
  @include shadow-bottom-light;
  background: #fff;
  li {
    display: none;
  }
  a {
    display: block;
    color: #333;
  }
  .illus {
    display: block;
    width: 630px;
    height: 315px;
  }
  .texte {
    position: relative;
    z-index: 5;
    margin-top: -35px;
    background: #fff;
    background: -webkit-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* W3C */
  }
  .picto {
    padding: 25px 30px;
  }
  h2 {
    margin: 0;
    font: bold 22px Verdana,sans-serif;
  }
  p {
    margin: 5px 0 0 0;
    color: #555;
    font: 13px Arial,sans-serif;
    line-height: 18px;
  }
  .slide-breve {
    .picto {
      background: url("../images/picto/rond_breve.png") 23px 28px no-repeat;
      padding-top: 35px;
      padding-left: 80px;
    }
  }
  .slide-evenement {
    .picto {
      background: url("../images/picto/rond_evenement.png") 23px 28px no-repeat;
      padding-top: 35px;
      padding-left: 80px;
    }
  }
  .slide-temoignage {
    .picto {
      background: url("../images/picto/rond_temoignage.png") 23px 28px no-repeat;
      padding-top: 35px;
      padding-left: 80px;
    }
  }
  .flex-control-nav {
    width: 120px;
    bottom: 7px;
    right: 0;
    z-index: 5;
  }
  .flex-control-paging li a {
    background: url("../images/picto/voyant_off.png") 50% 50% no-repeat;
    width: 14px;
    height: 14px;
    border-radius: 0;
    box-shadow: none;
    &:hover {
      background: url("../images/picto/voyant_on.png") 50% 50% no-repeat;
      opacity: .5;
    }
    &.flex-active {
      background: url("../images/picto/voyant_on.png") 50% 50% no-repeat;
      opacity: 1;
    }
  }
}


.listing-dispositifs {
  background: #fff;
  font-size: 13px;
  li {
    padding: 20px 30px;
    border-top: 1px solid #e9e9e9;
    @include clearfix;
  }
  h2 {
    margin: 0;
    font: bold 16px Verdana,Arial,sans-serif;
  }
  p {
    margin: 5px 0;
    line-height: 20px;
  }
  a {
    margin-top: 2px;
  }
}

.listing-programmes {
  background: #fff;
  font-size: 13px;
  li {
    padding: 10px 20px;
    border-top: 1px solid #e9e9e9;
    @include clearfix;
  }
  h2 {
    margin: 0;
    font: bold 16px Verdana,Arial,sans-serif;
    a {
      color: #333333;
      &:hover {
        color: $couleur_lien;
      }
    }
  }
  p {
    margin: 5px 0 0 0;
    line-height: 18px;
    color: #555555;
  }
}

.listing-breves,
.listing-catalogues,
.listing-dossiers {
  background: #fff;
  .item {
    @include clearfix;
    padding: 10px;
    border-top: 1px solid #e9e9e9;
    .illus {
      display: block;
      float: left;
      width: 160px;
      height: 80px;
      margin-right: 15px;
      img {
        display: block;
        width: 160px;
        height: 80px;
      }
    }
    .texte {
      float: left;
      width: 430px;
    }
    h2 {
      margin: 0 0 3px 0;
      color: #333333;
      font: bold 16px Verdana,sans-serif;
      a {
        color: #333333;
        &:hover {
          color: $couleur_lien;
        }
      }
      .date {
        color: #009ee0;
        font-weight: normal;
      }
    }
    .intro {
      color: #555555;
      font: normal 13px Arial,sans-serif;
      line-height: 18px;
    }
    .liens {
      margin-top: 10px;
      color: #555555;
      a {
        color: #555555;
        &:hover {
          color: $couleur_lien;
        }
      }
    }
  }
}

.bloc-liste {
  @include shadow-bottom-light;
}
.bloc-article {
  @include shadow-bottom-light;
  margin-bottom: 30px;
}
.article {
  background: #fff;
  padding: 20px 30px;
}
.supplement {
  background: #fff url("../images/bg/deg_pointille.gif") 0 0 repeat-x;
  padding: 25px 30px 30px 30px;
}
.details-evenement {
  background: #fff url("../images/bg/deg_pointille.gif") 0 0 repeat-x;
  padding: 25px 30px 30px 30px;
  @include clearfix;
  h2 {
    font: bold 22px 'montserrat',Arial,sans-serif;
  }
  .col-infos {
    float: left;
    width: 210px;
  }
  .col-map {
    float: right;
    width: 340px;
    padding-top: 15px;
  }
  #map-canvas {
    width: 340px;
    height: 265px;
  }
}

// flèches suivant / précédent
.nav_articles {
  @include clearfix;
  margin-bottom: 15px;
  a {
    font: bold 15px Arial,sans-serif;
    color: #555555;
    &:hover {
      color: $couleur_lien;
    }
  }
  .bt_previous {
    float: left;
    padding-left: 10px;
    background: url("../images/picto/fl_g_noir.gif") 0 50% no-repeat;
  }
  .bt_next {
    float: right;
    padding-right: 10px;
    background: url("../images/picto/fl_d_noir.gif") 100% 50% no-repeat;
  }
}

// mon espace pro
.mes-selections {
  background: #fff url("../images/bg/deg_pointille.gif") 0 0 repeat-x;
  padding-top: 50px;
  h3 {
    margin: 0 0 0 30px;
    padding-right: 36px;
    font: bold 22px 'montserrat',Arial,sans-serif;
    display: inline-block;
    background: url("../images/picto/titre_favoris.png") 100% 50% no-repeat;
  }
  .regroupement {
    padding: 30px 90px 35px 90px;
    border-bottom: 1px solid #e0e0de;
    &:last-of-type {
      border-bottom: none;
    }
    h3 {
      margin: 0;
      font: normal 20px 'montserrat',Arial,sans-serif;
      color: #811a76;
    }
    li {
      margin-top: 25px;
      color: #555555;
      font-size: 13px;
      a {
        color: #555555;
        &:hover {
          color: $couleur_lien;
        }
      }
    }
  }
  .del-choice {
    display: inline-block;
    margin-left: 5px;
    background: url("../images/picto/croix_vert.png") 50% 50% no-repeat;
    width: 10px;
    height: 10px;
  }
  h4 {
    margin: 10px 0;
    font-size: 15px;
  }
  .date {
    padding-left: 25px;
    line-height: 20px;
    background: url("../images/picto/calendrier.png") 0 0 no-repeat;
  }
  .lieu {
    margin-top: 10px;
    padding-left: 25px;
    line-height: 20px;
    background: url("../images/picto/marker_gris.png") 0 0 no-repeat;
  }
}
.ma-mediatheque {
  @include shadow-bottom-light;
  background: #fff url("../images/bg/deg_pointille.gif") 0 0 repeat-x;
  padding-top: 50px;
  h3 {
    margin: 0 0 0 30px;
    padding-right: 36px;
    font: bold 22px 'montserrat',Arial,sans-serif;
    display: inline-block;
    background: url("../images/picto/titre_mediatheque.png") 100% 50% no-repeat;
  }
  .regroupement {
    padding: 25px 90px 35px 90px;
    li {
      padding-left: 26px;
      margin-top: 25px;
      color: #555555;
      font-size: 13px;
      a {
        color: #555555;
        &:hover {
          color: $couleur_lien;
        }
      }
    }
  }
  .del-choice {
    display: inline-block;
    margin-left: 5px;
    background: url("../images/picto/croix_vert.png") 50% 50% no-repeat;
    width: 10px;
    height: 10px;
  }
  .media-pdf {
    background: url("../images/picto/media_pdf.png") 0 50% no-repeat;
  }
  .media-podcast {
    background: url("../images/picto/media_podcast.png") 0 50% no-repeat;
  }
  .media-rss {
    background: url("../images/picto/media_rss.png") 0 50% no-repeat;
  }
  .media-chat {
    background: url("../images/picto/media_chat.png") 0 50% no-repeat;
  }
}

// page formation
.infos-conventionne,
.infos-non-conventionne {
  padding: 23px 30px;
  font: bold 14px Arial,sans-serif;
  color: #fff;
  em {
    font-style: italic;
    color: #333;
  }
}
.infos-conventionne {
  background: #94bc1b;
}
.infos-non-conventionne {
  background: #f4a72a;
}
.logos {
  float: right;
  @include clearfix;
  .logo {
    display: block;
    float: left;
    margin-left: 10px;
    max-width : 115px;
    max-height : 115px;
  }
}
