.dmtoolbar {
  border-top: 1px solid #e9e8e8;
  background: #f9f9f9 url("../images/bg/deg_gris.png") 50% 100% repeat-x;
  padding: 9px;
  @include clearfix;
  select {
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    background: #fff;
    box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, .2);
    border: 1px solid #aeaeae;
    padding: 9px 10px;
    font: normal 12px Arial,sans-serif;
    color: #919090;
    width: 170px;
    @include box-size;
    &:hover {
      background: #f5f5f5;
    }
    &:focus {
      background: #f5f5f5;
    }
  }

  .social-buttons {
    float: left;
    padding: 7px 7px 0 7px;
  }

  .sorter {
    float: left;
    padding: 5px 5px 0 5px;
    .label {
      float: left;
      font: bold 12px Arial,sans-serif;
      color: #666666;
      padding: 5px 10px 0 10px;
    }
    a {
      float: left;
      border: 1px solid #cccccc;
      background: #fefefe url("../images/bg/bt_toolbar.png") 50% 100% repeat-x;
      img {
        display: block;
      }
      &.active {
        border-color: #919191;
        background-color: #cacaca;
        background-image: url("../images/bg/bt_toolbar_active.png");
      }
      &:hover {
        border-color: #a9a9a9;
      }
    }
    .sort-desc {
      border-radius: 3px 0 0 3px;
    }
    .sort-asc {
      border-left: none;
      border-radius: 0 3px 3px 0;
    }
  }

  .boutons {
    float: left;
    padding: 5px 5px 0 5px;
    a {
      @include bouton-toolbar;
      margin-left: 5px;
      margin-right: 5px;
    }
    &.boutons-droite {
      float: right;
    }
  }

  .pager {
    float: right;
    padding: 5px 5px 0 5px;
    li {
      display: block;
      float: left;
    }
  }
  .pager-current,
  .pager-item {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .pager-first a,
  .pager-previous a,
  .pager-next a,
  .pager-last a {
    @include bouton-toolbar;
    margin-left: 5px;
    margin-right: 5px;
  }
}